<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: _head"></head>


<body>
<header>
  <nav th:replace="/fragments/nav :: navbar"></nav>
</header>

<main class="main-gris pt-5">
  <div class="container">
    <div class="d-flex fles-row justify-content-between align-items-center">
      <h1>Error</h1>
      <a class="btn btn-outline-success" th:href="@{/admin/publications}" type="button">Volver</a>
    </div>

    <p th:text="${error}"></p>
  </div>
</main>
</body>
</html>